@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

:host {
    font-family: 'Rajdhani', sans-serif;
    countdown {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        transition: opacity 200ms ease-in-out;
        transition-delay: 1s;
        ::ng-deep {   
            span {
                font-size: 20vh;
            }
        }
        &.hide {
            opacity: 0;
        }
    }
    .complete-message {
        transition: opacity 1s ease-in-out;
        transition-delay: 1s;
        opacity: 0;
        font-size: 20vh;
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #fff;

        &.show {
            opacity: 1;
        }
    }
}