<countdown #cd [config]="config" (event)="handleEvent($event)" [ngClass]="{'hide': complete}"></countdown>
<div class="complete-message" [ngClass]="{'show': complete}">
    Welcome to Innovation!
</div>